<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple Video Chat</title>
  <script src='//static.opentok.com/webrtc/v2.2/js/opentok.min.js'></script>
</head>
<body>
  <h1>OpenTok NodeJS Group chat</h1>
  <h4>To go to your own room, simply type: http://.../yourRoomName</h4>
  <h5>Code for this app available on <a href="https://github.com/songz/OpenTokNodeJS">github</a></h5>
  <div id="videos">
    <div id="myPublisherDiv"></div>
  </div>
	
  <script type="text/javascript">
    // Initialize API key, session, and token, generated from server side
    var apiKey = "<%= OpenTokKey %>";
    var sessionId = "<%= sessionId %>";
    var token = "<%= token %>";

    // Enable console logs for debugging
    TB.setLogLevel(TB.DEBUG);

    // Initialize session, set up event listeners, and connect
    var session = OT.initSession(apiKey, sessionId); 
    session.on({ 
        streamCreated: function(event) { 
          session.subscribe(event.stream, "videos", {insertMode: 'append'}); 
        } 
    }); 
    session.connect(token, function(error) {
      if (error) {
        console.log( error );
      } else {
        // Create publisher and start streaming into the session
        session.publish('myPublisherDiv', {width: 320, height: 240}); 
      }
    });
  </script>
</body>
</html>
